<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: white;
    background-color: darkblue;
    clear: left;
    text-align: left;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
}

footer {
    padding: 1em;
    color: white;
    background-color: lightblue;
    clear: left;
    text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}
article {
    margin-left: 170px;
	margin-top: 50px;
    border-left: 2px solid gray;
    padding: 5em;
    overflow: hidden;
}

</style>